.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	position: relative;
	z-index: 9999;
}

.header__menu {
	display: none;
}

.header__bars {
	color: var(--clr-light);
	width: var(--size-2xl);
	height: var(--size-2xl);

	display: flex;
	align-items: center;

}

/* xsmall */
/* @media (min-width: 475px) {} */

/* small */
/* @media (min-width: 640px) {} */

/* medium */
@media (min-width: 768px) {
	.header__menu {
		display: flex;
		align-items: center;
		list-style: none;
		padding: 0;
		gap: 2em;
	}

	.header__link {
		text-decoration: none;
		font-size: var(--size-xs);
		font-weight: 600px;
		color: var(--clr-slate600);
		letter-spacing: -0.05em;
		transition: color 0.3s;
	}

	.header__link:hover {
		color: var(--clr-yellow);
	}

	.header__line {
		border: 1px solid var(--clr-slate600);
		padding-top: 1.5em;
	}

	.header__sun {
		display: flex;
		align-items: center;
		color: var(--clr-slate600);
		width: var(--size-sm);
		height: var(--size-sm);
	}

	.header__resume {
		font-size: var(--size-xs);
	}

	.header__bars {
		display: none;
	}
}

/* large */
@media (min-width: 1024px) {
	.header__link {
		font-size: var(--size-sm);
	}

	.header__sun {
		width: var(--size-xl);
		height: var(--size-xl);
	}

	.header__resume {
		font-size: var(--size-sm);
	}
}

/* xlarge */
/* @media (min-width: 1290px) {} */

/* 2xlarge */
/* @media (min-width: 1536px) {} */