.hero {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-top: 2rem;
}

.hero__img {
	border-radius: 50%;
	height: 6rem;
	width: 6rem;
}

.hero__subtitle {
	color: var(--clr-slate400);
	font-size: var(--size-base);
	line-height: 0.9;
}

.hero__title {
	color: var(--clr-slate200);
	text-transform: uppercase;
	font-size: var(--size-4xl);
	letter-spacing: -0.05em;
	line-height: 0.9;
}

.hero__desc {
	margin-top: 0px;
	max-width: 60ch;
	font-size: var(--size-sm);
	color: var(--clr-slate400);
}

.hero__btn {
	text-transform: capitalize;
	font-size: var(--size-sm);
}

.hero__social-stack {
	display: flex;
	gap: 0.5rem;
}

.hero__social-stack__icon {
	color: var(--clr-slate400);
	transition: color 0.3s;
	font-size: var(--size-2xl) !important;
}

.hero__social-stack__icon:hover {
	color: var(--clr-yellow);
}

.hero__arrow-down {
	color: var(--clr-slate400);
	font-size: var(--size-xl) !important;
}

/* xsmall */
@media (min-width: 475px) {
	.hero {
		gap: 1.5rem;
	}

	.hero__img {
		height: 6.5rem;
		width: 6.5rem;
	}

	.hero__subtitle {
		font-size: var(--size-lg);
	}

	.hero__title {
		font-size: var(--size-5xl);
	}

	.hero__desc {
		font-size: var(--size-base);
	}

	.hero__btn {
		font-size: var(--size-base);
	}

	.hero__arrow-down {
		font-size: var(--size-2xl) !important;
	}
}

/* small */
/* @media (min-width: 640px) {} */

/* medium */
/* @media (min-width: 768px) {} */

/* large */
@media (min-width: 1024px) {
	.hero__img {
		height: 8rem;
		width: 8rem;
	}

	.hero__subtitle {
		font-size: var(--size-2xl);
	}

	.hero__title {
		font-size: var(--size-7xl);
	}

	.hero__desc {
		font-size: var(--size-lg);
	}

	.hero__btn {
		font-size: var(--size-lg);
	}

	.hero__social-stack__icon {
		font-size: var(--size-4xl) !important;
	}

	.hero__arrow-down {
		font-size: var(--size-2xl) !important;
	}
}

/* xlarge */
@media (min-width: 1290px) {
	.hero {
		gap: 2rem;
	}

	.hero__img {
		height: 8rem;
		width: 8rem;
	}

	.hero__subtitle {
		font-size: var(--size-4xl);
	}

	.hero__title {
		font-size: var(--size-8xl);
	}

	.hero__desc {
		font-size: var(--size-xl);
	}

	.hero__btn {
		font-size: var(--size-xl);
	}

	.hero__arrow-down {
		font-size: var(--size-3xl) !important;
	}
}

/* 2xlarge */
/* @media (min-width: 1536px) {} */