/* xsmall */
/* @media (min-width: 475px) {} */

/* small */
/* @media (min-width: 640px) {} */

/* medium */
/* @media (min-width: 768px) {} */

/* large */
/* @media (min-width: 1024px) {} */

/* xlarge */
/* @media (min-width: 1290px) {} */

/* 2xlarge */
/* @media (min-width: 1536px) {} */




.btn {
	display: inline-block;
	font-weight: 600;
	text-decoration: none;
	letter-spacing: -0.05em;
	background-color: var(--clr-yellow);
	color: var(--clr-light);
	padding: 0.5em 1em;
	border-radius: 6px;
	box-shadow: 0 10px 20px rgba(255, 223, 49, 0.5), 0 6px 6px rgba(255, 223, 49, 0.5), 0 0 100px -10px var(--clr-yellow);
	transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
	transform: translateY(-2px);
	box-shadow: 0 14px 28px rgba(255, 223, 49, 0.25), 0 10px 10px rgba(255, 223, 49, 0.2), 0 0 120px -10px var(--clr-yellow);
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.section {
	margin-top: 5rem;
}

/* xsmall */
@media (min-width: 475px) {
	.container {
		max-width: 475px;
	}
}

/* small */
@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}

/* medium */
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}

/* large */
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}

/* xlarge */
@media (min-width: 1290px) {
	.container {
		max-width: 1290px;
	}
}

/* 2xlarge */
@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
}